<div class ="jumbotron">
	<h1>Welcome to Ruby Rails Pizza</h1>
	<img src="http://mellowmushroom.com/sites/default/files/imagecache/banner_slide/happiness_in_pizza_03_0.png">

	<%= link_to "Check out our pizzas!", pizzas_path, class: "btn btn-default"%>

</div>
